<div id="<%= dom_id building %>">
  <p>
    <strong>Nombre:</strong>
    <%= building.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= building.direccion %>
  </p>
  <p>
    <strong>Características:</strong>
    <% building.features.each do |feature| %>
      <p><%= feature.nombre %></p>
    <% end %>
  </p>

  <p>
    <strong>Departamentos Disponibles:</strong>
    <% building.apartments.each do |apartment| %>
      <p><%= apartment.numero %></p>
    <% end %>
  </p>
  
</div>

