<p style="color: green"><%= notice %></p>

<% content_for :title, "Edificios" %>

<h1 class="text-center my-5">Listado Edificios</h1>


<div class="row justify-content-between">
  <div class="col">
    Contamos con un total de <%= @total_edificios %> edificios
  </div>
 <% if !current_user.usuario? %>
    <div class="col mb-5 text-end">
      <%= link_to "Crear Edificio", new_building_path, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>



<table class="table table-striped mb-5">
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.id %></td>
        <td><%= building.nombre %></td>
        <td><%= building.direccion %></td>
        <td><%= link_to "Detalles", building, class:"btn btn-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <% if !current_user.usuario? %>
    <div>
      <%= link_to "Crear Edificio", new_building_path, class:"btn btn-primary" %>
    </div>

    <% end %>

  <div class="my-5 d-flex justify-content-end">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>