<div id="<%= dom_id apartment %>">
  <p>
    <strong>Numero:</strong>
    <%= apartment.numero %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= apartment.building.nombre %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= apartment.building.direccion %>
  </p>

  <p>
    <strong>Imágenes:</strong>
    <% apartment.images.each do |image| %>
      <%= image_tag image, class:"w-50" %>
    <% end %>
  </p>

</div>